<div
  class="bg-card-default-light dark:bg-card-default-dark relative rounded-xl overflow-hidden border border-muted-light dark:border-muted-dark">
  <div class="flex flex-col md:flex-row justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    <div>
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-1">
        Exchange Rates (Base: {{ baseCurrency$ | async }})
      </h2>

      <!-- Trigger the Observable -->
      @if (lastUpdateAt$ | async) {}
      <p class="text-xs text-gray-900 dark:text-white">
        Last Updated: {{ lastUpdateAt ? (lastUpdateAt | date: 'MMMM d, y, hh:mm a') : 'N/A' }}
      </p>
    </div>

    <div class="w-full md:w-1/2">
      <form class="flex items-center">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <ng-icon class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400"
              name="heroMagnifyingGlass" size="20"></ng-icon>
          </div>
          <input type="text" id="simple-search"
            class="border border border-muted-light dark:border-muted-dark bg-card-default-light dark:bg-card-default-dark text-gray-900 dark:text-white text-sm rounded-lg block w-full pl-10 p-2 dark:placeholder-gray-400 dark:text-white focus:ring-accent-100 focus:border-accent-100 focus:dark:ring-accent-900 focus:dark:border-accent-900 transition-colors placeholder-gray-500 dark:placeholder-gray-400 focus:outline-hidden"
            placeholder="Search currencies (e.g., MYR or Malaysian Ringgit)" [(ngModel)]="searchTerm"
            [ngModelOptions]="{standalone: true}">
        </div>
      </form>
    </div>
  </div>

  <div class="overflow-x-auto">
    @if (exchangeRates$ | async; as exchangeRates) {}
    @if (!isLoading) {
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center gap-1">
              Currency
              <a class="flex items-center cursor-pointer" [ngClass]="{ 'text-green-500': filterBy === 'code' }"
                (click)="onSortData('code')">
                <ng-icon name="heroArrowsUpDown" size="14"></ng-icon>
              </a>
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center gap-1">
              Name
              <a class="flex items-center cursor-pointer" [ngClass]="{ 'text-green-500': filterBy === 'name' }"
                (click)="onSortData('name')">
                <ng-icon name="heroArrowsUpDown" size="14"></ng-icon>
              </a>
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center gap-1">
              Rate
              <a class="flex items-center cursor-pointer" [ngClass]="{ 'text-green-500': filterBy === 'rate' }"
                (click)="onSortData('rate')">
                <ng-icon name=" heroArrowsUpDown" size="14"></ng-icon>
              </a>
            </div>
          </th>
          <th scope="col" class="px-4 py-3 text-end">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        @for (data of filteredExchangeRateData | fuse:searchTerm:fuseOptions; track $index) {
        <tr class="border-b border-muted-light dark:border-muted-dark even:bg-toolbar-light even:dark:bg-toolbar-dark">
          <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <div class="flex items-center gap-3">
              <div
                class="flex-shrink-0 size-10 bg-gray-100 dark:bg-gray-600 rounded-full flex items-center justify-center">
                <span class="text-sm font-medium text-gray-700 dark:text-gray-300">
                  {{ data.code | currencyDetailsParser:'symbol' }}
                </span>
              </div>
              {{ data.code }}
            </div>
          </th>

          <td class="px-4 py-3">
            {{ data.name }}
          </td>

          <td class="px-4 py-3">
            {{ data.rate }}
          </td>

          <td class="px-4 py-3 flex items-center justify-end">
            <button id="apple-imac-27-dropdown-button" data-dropdown-toggle="apple-imac-27-dropdown"
              class="inline-flex items-center p-0.5 text-sm font-medium text-center rounded-lg focus:outline-none"
              type="button" [disabled]="data.rate === 1"
              [ngClass]="data.rate === 1 ? 'text-green-500 dark:text-green-400' : 'text-gray-500 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-100 cursor-pointer'"
              (click)="setCurrencyAsBase(data.code)">
              {{ data.rate === 1 ? 'Selected' : 'Set as Base' }}
            </button>
          </td>
        </tr>
        } @empty {
        <div class="p-5 w-full">
          <h2 class="font-bold text-red-500">
            No Data Available
          </h2>
        </div>
        }
      </tbody>
    </table>
    } @else {
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center gap-1">
              Currency
              <a class="flex items-center">
                <ng-icon name="heroArrowsUpDown" size="14"></ng-icon>
              </a>
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center gap-1">
              Name
              <a class="flex items-center">
                <ng-icon name="heroArrowsUpDown" size="14"></ng-icon>
              </a>
            </div>
          </th>
          <th scope="col" class="px-4 py-3">
            <div class="flex items-center gap-1">
              Rate
              <a class="flex items-center">
                <ng-icon name="heroArrowsUpDown" size="14"></ng-icon>
              </a>
            </div>
          </th>
          <th scope="col" class="px-4 py-3 text-end">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        @for (_ of [0, 1, 2, 3, 4]; track $index) {
        <tr class="border-b border-muted-light dark:border-muted-dark even:bg-toolbar-light even:dark:bg-toolbar-dark">
          <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <div class="flex items-center gap-3 animate-pulse">
              <div
                class="flex-shrink-0 size-10 bg-gray-200 dark:bg-gray-600 rounded-full flex items-center justify-center">
                <div class="w-full h-full"></div>
              </div>
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20"></div>
            </div>
          </th>

          <td class="px-4 py-3 animate-pulse">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20"></div>
          </td>

          <td class="px-4 py-3 animate-pulse">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20"></div>
          </td>

          <td class="px-4 py-3 flex items-center justify-end">
            <button id="apple-imac-27-dropdown-button" data-dropdown-toggle="apple-imac-27-dropdown"
              class="inline-flex items-center p-0.5 text-sm font-medium text-center rounded-lg focus:outline-none text-gray-500  dark:text-gray-400 cursor-not-allowed"
              type="button" disabled="true">
              Set as Base
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
